@page
@model prism_trust_foundation.Pages.Volunteer.FormModel
@{
    ViewData["Title"] = "Sign up Form for Volunteer";
}

<h1 class="display-4">@ViewData["Title"]</h1>


<form class="mt-3" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <label for="timeslot">Choose your timeslot:</label>

    @*<select name="timeslot" id="timeslot">
        @foreach(var item in Model.Timeslots){
            <option value="item">@item.Shift_Start-@item.Shift_End</option>
        }
    </select>*@
    <br><br>
    <input type="submit" value="Submit">
</form>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
