@page
@model prism_trust_foundation.Pages.Query.IndexModel
@{
    ViewData["Title"] = "Query Page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
</head>

<h3>Hi</h3>