@page
@model prism_trust_foundation.Pages.User.ChangePassModel
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<head>
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
</head>

<body>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <h3><strong>Change Password</strong></h3>
                            </div>
                            <form method="post">
                                <div class="mb-3">
                                    <label class="form-label" asp-for="CpModel.NewPassword">Email Address</label>
                                    <input type="Text" asp-for="CpModel.NewPassword" class="form-control" />
                                    <span asp-validaton-for="CpModel.NewPassword" class="text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" asp-for="CpModel.ConfirmPassword">Password</label>
                                    <input type="Text" asp-for="CpModel.ConfirmPassword" class="form-control" />
                                    <span asp-validaton-for="CpModel.ConfirmPassword" class="text-danger"></span>
                                </div>

                                <div>
                                    <input type="submit" asp-route-sessioncount="1" value="Cancel" class="btn btn-primary" />
                                    <input type="submit" asp-route-sessioncount="2" value="Confirm" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>