@page
@model prism_trust_foundation.Pages.User.UpdateDetailsModel
@{
    ViewData["Title"] = "Update Details page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<head>
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
</head>

<body>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <h3><strong>Update Details</strong></h3>
                            </div>
                            <form method="post">
                                <div class="mb-3">
                                    <label class="form-label" asp-for="UdModel.Fname">Full Name</label>
                                    <input type="Text" asp-for="UdModel.Fname" class="form-control" />
                                    <span asp-validaton-for="UdModel.Fname" class="text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" asp-for="UdModel.PhoneNum">Phone Number</label>
                                    <input type="Text" asp-for="UdModel.PhoneNum" class="form-control" />
                                    <span asp-validaton-for="UdModel.PhoneNum" class="text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" asp-for="UdModel.BirthDate">Birhtday Date</label>
                                    <input class="form-control" asp-for="UdModel.BirthDate" oninput="this.value = this.value.toUpperCase()" />
                                    <span asp-validation-for="UdModel.BirthDate" class="text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <div class="form-outline">
                                        <label class="form-label" asp-for="UdModel.Gender">Gender</label><br />
                                        <div class="form-check form-check-inline mb-0 me-4">
                                            <input type="radio" asp-for="UdModel.Gender" value="male" /> Male
                                        </div>
                                        <div class="form-check form-check-inline mb-0 me-4">
                                            <input type="radio" asp-for="UdModel.Gender" value="female" /> Female
                                        </div>
                                        <span asp-validaton-for="UdModel.Gender" class="text-danger"></span>
                                    </div>
                                </div>

                                <div>
                                    <input type="submit" asp-route-sessioncount="1" value="Cancel" class="btn btn-primary" />
                                    <input type="submit" asp-route-sessioncount="2" value="Confirm" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>