@page
@model prism_trust_foundation.Pages.User.UserDetailsModel
@{
    ViewData["Title"] = "Prism Trust Foundation";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<head>
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
</head>

<body>
    <h2>Account Details</h2>
    <form class="mt-3" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <div class="col-md-8">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="HomeUser.NRIC">NRIC: </label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="HomeUser.NRIC" readonly />
                        <span asp-validation-for="HomeUser.NRIC" class="text-danger"></span>
                    </div>
                </div>
                <!-- Add your code -->
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="HomeUser.Fname">First Name: </label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="HomeUser.Fname" readonly />
                        <span asp-validation-for="HomeUser.Fname" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="HomeUser.Email">Email: </label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="HomeUser.Email" readonly />
                        <span asp-validation-for="HomeUser.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="HomeUser.Gender">Gender: </label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="HomeUser.Gender" readonly />
                        <span asp-validation-for="HomeUser.Gender" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="HomeUser.PhoneNum">Phone Number: </label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="HomeUser.PhoneNum" readonly />
                        <span asp-validation-for="HomeUser.PhoneNum" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="HomeUser.BirthDate">Brithday Date: </label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="HomeUser.BirthDate" readonly />
                        <span asp-validation-for="HomeUser.BirthDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div>
                <input type="submit" asp-route-sessioncount="1" value="Change Password" class="btn btn-primary" />
                <input type="submit" asp-route-sessioncount="2" value="Update Details" class="btn btn-primary" />
                <input type="submit" asp-route-sessioncount="3" value="Upload Avatar" class="btn btn-primary" />
                <input type="submit" asp-route-sessioncount="4" value="Redeem Rewards" class="btn btn-primary" />
                @if (Model.HomeUser.dRecip_Role == true)
                {
                    <input type="submit" asp-route-sessioncount="5" value="Request an Item" class="btn btn-primary" />
                }
            </div>

           
    </div>
</form>
</body>