@page
@model prism_trust_foundation.Pages.Storage.EditModel
@{
    ViewData["Title"] = "Edit Inventory";
    Layout = "~/Pages/Shared/_Layout2.cshtml";
}

<h1 class="display-4">@ViewData["Title"]</h1>