@page
@model prism_trust_foundation.Pages.Shared.DonationRecipientInfoPageModel
@{
	ViewData["Title"] = "Recipient Application";
}
<div class="text-center p-t-136">
<h1>Recipient Application Page</h1>
<h2>Providing assistance to low-income families</h2>
</div>

<div>
	<h3>What are the benefits?</h3>
	<p>Free donation items like clothes, furniture, non-perishable food and other daily necessities collected from our generous donors.</p>
	<p>Put in request for items that you need and we will notify donors in order to try and acquire these items.</p>
	<hr>
	<h3>Who is eligible?</h3>
	<p>Singapore Citizens</p>
	<p>Monthly household income of $2,750 or less, or a monthly household per capita income of $690 or less</p>
	<h3>How do I apply?</h3>
	<p>1. Create an account</p>
	<p>2. Provide information such as personal particulars, monthly income and await verification.</p>
	
	<div class="text-center p-t-136">
		<a  href="/ApplicationForm">
			<button>
			Apply Now
			<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
			</button>
		</a>
		
		<a href="/SubmitEnquiry">
			<button>
			Submit an Enquiry
			<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
			</button>
		</a>
	</div>

</div>
