@page
@model prism_trust_foundation.Pages.LoginModel
@{
    ViewData["Title"] = "Prism Trust Foundation";
    Layout = "~/Pages/Shared/_Layout2.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">

    <link rel="stylesheet" href="css/Login.css">
</head>
<body>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-md-2">
                    <img src="../Picture/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <h3>Sign In to <strong>Prism Trust Foundation</strong></h3>
                                <p class="mb-4">Want to make a difference and help the needies? Then sign up now!!</p>
                            </div>
                            <form method="post">
                                <div class="mb-3">
                                    <label class="form-label" asp-for="LModel.Email">Email Address</label>
                                    <input type="Text" asp-for="LModel.Email" class="form-control" />
                                    <span asp-validaton-for="LModel.Email" class="text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" asp-for="LModel.Password">Password</label>
                                    <input type="Text" asp-for="LModel.Password" class="form-control" />
                                    <span asp-validaton-for="LModel.Password" class="text-danger"></span>
                                </div>

                                <div class="mb-3 form-check">
                                    <input type="checkbox" asp-for="LModel.RememberMe" class="form-check-input" />
                                    <label class="form-check-label" asp-for="LModel.RememberMe">Remember Me?</label>
                                </div>

                                <div class="mb-3">
                                    <a class="form-label" href="/Register">Create Account</a>
                                </div>

                                <div class="mb-3">
                                    <button type="submit" class="btn btn-primary">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>